@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite/dist/flowbite.css';

@layer utilities {  
    .text-shadow-md {  
      text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;  
    }  
  } 

.background-header{
    background-image: url(assets/background_header.jpg);
    background-size: cover;
}

.background{
    background-image: url(assets/background_REcortado.jpg);  
    background-size: cover;  
    background-repeat: no-repeat;
}


@media (min-width: 768px) {
    .md\:background {
        background-image: url(assets/background.jpg); 
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.gradiente{
    background: linear-gradient(to top, white 80%, transparent);
}